In [1]:
#Add Dependencies
import pandas as pd
import numpy as np

In [2]:
#Setup File System
read_oscars_file = "../Resources/oscars_clean.csv"
read_movies_file = "../Resources/movies_clean.csv"
write_file = "../Resources/movies_oscars_combined.csv"

#read_file = "/Users/archieanand/Desktop/Analysis/Working/the_oscar_award.csv"
#write_file = "/Users/archieanand/Desktop/Analysis/Working/oscars_clean.csv"

In [3]:
# Import our Oscar dataset
oscars_df = pd.read_csv(read_oscars_file)
oscars_df.head()

   Unnamed: 0              film  winner
0           0         The Noose   False
1           1  The Last Command    True
2           2   A Ship Comes In   False
3           3        7th Heaven    True
4           4    Sadie Thompson   False

In [9]:
oscars_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10395 entries, 0 to 10394
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  10395 non-null  int64
 1   film        10091 non-null  object
 2   winner      10395 non-null  bool
dtypes: bool(1), int64(1), object(1)
memory usage: 172.7+ KB

In [10]:
oscars_df.sort_values(by='winner', ascending=False)

       Unnamed: 0                              film  winner
10394       10394                               NaN    True
3075         3075                            Picnic    True
3078         3078   Love Is a Many-Splendored Thing    True
7969         7969                   American Beauty    True
7968         7968                            Tarzan    True
...           ...                               ...     ...
3864         3864  Meredith Willson's The Music Man   False
3861         3861         The Pigeon That Took Rome   False
3860         3860              Period of Adjustment   False
3859         3859                   The Longest Day   False
5197         5197         Thunderbolt and Lightfoot   False

[10395 rows x 3 columns]

In [16]:
oscars_df = oscars_df.drop_duplicates(subset='film', keep='first')

In [17]:
movies_df = pd.read_csv(read_movies_file)
movies_df.head()

,Unnamed: 0,budget,imdb_id,original_title,popularity,revenue,runtime,title,vote_average,vote_count,production,country,new_genre,Release_year
0,0,30000000,tt0114709,Toy Story,30000000.0,373554033.0,81.0,Toy Story,7.7,5415.0,Pixar Animation Studios,United States of America,Animation,1995
1,1,65000000,tt0113497,Jumanji,65000000.0,262797249.0,104.0,Jumanji,6.9,2413.0,TriStar Pictures,United States of America,Adventure,1995
2,2,0,tt0113228,Grumpier Old Men,0.0,0.0,101.0,Grumpier Old Men,6.5,92.0,Warner Bros.,United States of America,Romance,1995
3,3,16000000,tt0114885,Waiting to Exhale,16000000.0,81452156.0,127.0,Waiting to Exhale,6.1,34.0,Twentieth Century Fox Film Corporation,United States of America,Comedy,1995
4,4,0,tt0113041,Father of the Bride Part II,0.0,76578911.0,106.0,Father of the Bride Part II,5.7,173.0,Sandollar Productions,United States of America,Comedy,1995

In [18]:
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44678 entries, 0 to 44677
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      44678 non-null  int64
 1   budget          44678 non-null  int64
 2   imdb_id         44678 non-null  object
 3   original_title  44678 non-null  object
 4   popularity      44678 non-null  float64
 5   revenue         44678 non-null  float64
 6   runtime         44678 non-null  float64
 7   title           44678 non-null  object
 8   vote_average    44678 non-null  float64
 9   vote_count      44678 non-null  float64
 10  production      44678 non-null  object
 11  country         44678 non-null  object
 12  new_genre       44678 non-null  object
 13  Release_year    44678 non-null  int64
dtypes: float64(5), int64(3), object(6)
memory usage: 4.8+ MB

In [19]:
combined_df = pd.merge(movies_df, oscars_df, how='left', left_on='title', right_on='film' )
combined_df.shape

(44678, 17)

In [20]:
combined_df

,Unnamed: 0_x,budget,imdb_id,original_title,popularity,revenue,runtime,title,vote_average,vote_count,production,country,new_genre,Release_year,Unnamed: 0_y,film,winner
0,0,30000000,tt0114709,Toy Story,30000000.0,373554033.0,81.0,Toy Story,7.7,5415.0,Pixar Animation Studios,United States of America,Animation,1995,7508.0,Toy Story,False
1,1,65000000,tt0113497,Jumanji,65000000.0,262797249.0,104.0,Jumanji,6.9,2413.0,TriStar Pictures,United States of America,Adventure,1995,NaN,NaN,NaN
2,2,0,tt0113228,Grumpier Old Men,0.0,0.0,101.0,Grumpier Old Men,6.5,92.0,Warner Bros.,United States of America,Romance,1995,NaN,NaN,NaN
3,3,16000000,tt0114885,Waiting to Exhale,16000000.0,81452156.0,127.0,Waiting to Exhale,6.1,34.0,Twentieth Century Fox Film Corporation,United States of America,Comedy,1995,NaN,NaN,NaN
4,4,0,tt0113041,Father of the Bride Part II,0.0,76578911.0,106.0,Father of the Bride Part II,5.7,173.0,Sandollar Productions,United States of America,Comedy,1995,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44673,45460,0,tt0102797,Robin Hood,0.0,0.0,104.0,Robin Hood,5.7,26.0,Westdeutscher Rundfunk (WDR),Canada,Drama,1991,5158.0,Robin Hood,False
44674,45462,0,tt2028550,Siglo ng Pagluluwal,0.0,0.0,360.0,Century of Birthing,9.0,3.0,Sine Olivia,Philippines,Drama,2011,NaN,NaN,NaN
44675,45463,0,tt0303758,Betrayal,0.0,0.0,90.0,Betrayal,3.8,6.0,American World Pictures,United States of America,Action,2003,6239.0,Betrayal,False
44676,45464,0,tt0008536,Satana likuyushchiy,0.0,0.0,87.0,Satan Triumphant,0.0,0.0,Yermoliev,Russia,Action,1917,NaN,NaN,NaN
44677,45465,0,tt6980792,Queerama,0.0,0.0,75.0,Queerama,0.0,0.0,Other,United Kingdom,Action,2017,NaN,NaN,NaN

In [ ]:
# combined_df.set_index("imdb_id")

In [21]:
combined_df = combined_df.drop_duplicates()

In [22]:
combined_df

,Unnamed: 0_x,budget,imdb_id,original_title,popularity,revenue,runtime,title,vote_average,vote_count,production,country,new_genre,Release_year,Unnamed: 0_y,film,winner
0,0,30000000,tt0114709,Toy Story,30000000.0,373554033.0,81.0,Toy Story,7.7,5415.0,Pixar Animation Studios,United States of America,Animation,1995,7508.0,Toy Story,False
1,1,65000000,tt0113497,Jumanji,65000000.0,262797249.0,104.0,Jumanji,6.9,2413.0,TriStar Pictures,United States of America,Adventure,1995,NaN,NaN,NaN
2,2,0,tt0113228,Grumpier Old Men,0.0,0.0,101.0,Grumpier Old Men,6.5,92.0,Warner Bros.,United States of America,Romance,1995,NaN,NaN,NaN
3,3,16000000,tt0114885,Waiting to Exhale,16000000.0,81452156.0,127.0,Waiting to Exhale,6.1,34.0,Twentieth Century Fox Film Corporation,United States of America,Comedy,1995,NaN,NaN,NaN
4,4,0,tt0113041,Father of the Bride Part II,0.0,76578911.0,106.0,Father of the Bride Part II,5.7,173.0,Sandollar Productions,United States of America,Comedy,1995,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44673,45460,0,tt0102797,Robin Hood,0.0,0.0,104.0,Robin Hood,5.7,26.0,Westdeutscher Rundfunk (WDR),Canada,Drama,1991,5158.0,Robin Hood,False
44674,45462,0,tt2028550,Siglo ng Pagluluwal,0.0,0.0,360.0,Century of Birthing,9.0,3.0,Sine Olivia,Philippines,Drama,2011,NaN,NaN,NaN
44675,45463,0,tt0303758,Betrayal,0.0,0.0,90.0,Betrayal,3.8,6.0,American World Pictures,United States of America,Action,2003,6239.0,Betrayal,False
44676,45464,0,tt0008536,Satana likuyushchiy,0.0,0.0,87.0,Satan Triumphant,0.0,0.0,Yermoliev,Russia,Action,1917,NaN,NaN,NaN
44677,45465,0,tt6980792,Queerama,0.0,0.0,75.0,Queerama,0.0,0.0,Other,United Kingdom,Action,2017,NaN,NaN,NaN

In [23]:
combined_df.to_csv(write_file)